/* Fondo de la página de contacto */
#contacto {
    background-image: url('agila.jpg'); /* Asegúrate de reemplazar con el nombre correcto de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Hace que la imagen cubra todo el alto de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 20px;
}

/* Estilo para los iconos de redes sociales */
.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre los iconos */
    margin-top: 20px;
}

.social-icons a {
    font-size: 50px; /* Tamaño de los iconos */
    color: 800080;
    text-decoration: none;
}

.social-icons a:hover {
  color: #007bff; /* Cambia el color al pasar el ratón */
}

.social-icons i {
    transition: transform 0.3s ease; /* Efecto de animación */
}

.social-icons a:hover i {
    transform: scale(1.2); /* Aumenta el tamaño de los iconos al pasar el ratón */
}
